/*********** GLOBAL STYLES *************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
}

/* TODO: size images manually so this is not necessary */
img {
  max-height: 20rem;
}


/*********** CONTENT WRAPPER ************/

.content-wrapper {
  width: 100%;
  margin: auto;
}


/***************** NAV *****************/

nav {
  width: 100%;
}

nav ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #3d7fcf;
}

nav ul li {
  display: block;
}

nav ul li a {
  float: left;
  width: 32%;
  padding: 0.75rem 2rem;
  text-align: center;
  text-decoration: none;
  color: white;
}

nav a:hover {
  text-decoration: underline;
}

.cart-info {
  color: white;
  padding: 0.75rem;
  width: 4%;
  float: right;
}

/**************** HERO *****************/

.hero {
  width: 100%;
}

header img {
  display: block;
  max-height: 6rem;
  float: left; 
}

h1 .logo-w {
  font-size: 3.5rem;
  color: #3d7fcf;
}

h1 {
  float: left;
  color: #3d7fcf;
  font-size: 1.25rem;
  font-weight: 
}


/**************** ASIDE ****************/

aside {
  clear: both;
  float: left;
  width: 25%;
}


input[type="submit"] {
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
}

/*********** PRODUCTS SECTION ***********/

section {
  padding: 0 .75rem;
}

h2 {
  padding-top: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #2d2d2d;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #2d2d2d;
}
