/*********** GLOBAL STYLES *************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
}

img {
  max-width: 100%;
}


/*********** CONTENT WRAPPER ************/

.content-wrapper {
  width: 100%;
  margin: auto;
}


/***************** NAV *****************/

nav {
  width: auto;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3d7fcf;
}

nav ul li a {
  padding: 0.75rem;
  text-align: center;
  text-decoration: none;
  color: white;
}

nav a:hover {
  text-decoration: underline;
}

.cart-info {
  color: white;
  padding: 0.75rem;
}

/**************** HERO *****************/

.hero { 
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-end;
}

header img {
  padding: 1rem;
}

h1 {
  color: #3d7fcf;
  font-size: 2rem;
  font-weight: bolder;
}

h1 .logo-w {
  font-size: 3.5rem;
  color: #3d7fcf;
}

.logo-spacing-1 {
  padding: 1rem 0 1rem 0;
}

.logo-spacing-2 {
  padding: 1rem 0 1rem 1rem;
}

.logo-spacing-3 {
  padding: 1rem;  
}


/**************** MAIN ****************/

main {
  display: inline-flex;
}


/**************** ASIDE ****************/

aside {
  margin-top: 1rem;
  margin-bottom: auto;
  padding: 1rem;
}

.aside-font {
  font-size: 0.85rem;
}

input[type="submit"] {
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
}

/*********** PRODUCTS SECTION ***********/

section {
  display: inline-flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
}

h2 {
  align-self: flex-start;
  padding-left: 0.5rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold; 
  text-align: center;
  color: #2d2d2d;
}

.products-container {
  display: flex; 
  flex-wrap: wrap;  /* ta daaa! */ 
}

.products {
  border: 1px solid grey;
  margin: 0.5rem;
  display: flex; 
  flex-grow: 1;
  flex-basis: 30%;
  flex-direction: column;
}

h3 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin: 0.75rem;
  color: #2d2d2d;
}

section img {
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
}

section p {
  text-align: center;
  flex-grow: 1;
  font-size: 0.75rem; 
  margin: 0.75rem;
}
