/*********** GLOBAL STYLES *************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
}

img {
  max-width: 100%;
}


/*********** CONTENT WRAPPER ************/

.content-wrapper {
  width: 100%;
  margin: auto;
}


/***************** NAV *****************/

nav {
  width: auto;
}

nav ul {
  display: flex;
  flex-flow: row-wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #3d7fcf;
}

nav ul li a {
  padding: 0.75rem;
  text-align: center;
  text-decoration: none;
  color: white;
}

nav a:hover {
  text-decoration: underline;
}

.cart-info {
  color: white;
  padding: 0.75rem;
  flex-direction: 
}

/**************** HERO *****************/

.hero { 
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-end;
/*
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: flex-start;
*/
}

header img {
  padding: 1rem;
}

h1 {
  color: #3d7fcf;
  font-size: 2rem;
  font-weight: bolder;
}

h1 .logo-w {
  font-size: 3.5rem;
  color: #3d7fcf;
}

.logo-spacing-1 {
  padding: 1rem 0 1rem 0;
}

.logo-spacing-2 {
  padding: 1rem 0 1rem 1rem;
}

.logo-spacing-3 {
  padding: 1rem;  
}

/**************** ASIDE ****************/

aside {
  display: block;
  clear: both;
  float: left;
  width: 20%;
  padding: 4rem 1rem;
}

.aside-font {
  font-size: 0.85rem;
}

input[type="submit"] {
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
}

/*********** PRODUCTS SECTION ***********/

section {
  display: block;
  float: right;
  width: 80%;
}

h2 {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold; 
  text-align: center;
  color: #2d2d2d;
}

.item-container {
  max-width: 68rem;
  margin-right: auto;
  margin-left: auto;
}

.three-col-grid {
  width: 31%;
  float: left;
  border: 1px solid grey;
  margin: 0.5rem;
}

.three-col-grid:after {
  display:table;
  clear: both;
  content: ''; 
}

h3 {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin: 0.75rem;
  color: #2d2d2d;
}

section img {
  display: block;
  margin: auto;
  max-height: 18rem;
  min-width: 2rem;
}

section p {
  font-size: 0.75rem; 
  margin: 0.75rem;
}
